.loader__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.loader__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.loader__outer{
    width: 500px;
    height: 30px;
    background-color: lightgrey;
    border-radius: 12px;
    position: relative;
    border: none;
}

.loader__inner{
    background-color: blueviolet;
    border-radius: 12px;
}

.loader__text{
    position: absolute;
    left: 50%;
    top: 10%;
}